!!!5
html
  head
    title #{title} - Rinseworld.com
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header Rinseworld.com
    aside.login
      block login 
    block content
    footer Running on node with Express, Jade and Stylus