@import url("http://fonts.googleapis.com/css?family=Electrolize")

html, body
  font-family Electrolize
  background-color black
  color #74A0EF
  padding 0;
  margin 0;
  font-size 12px
  text-shadow 0 0 10px #6495ED

  footer
    text-align right

a
  color #FFCC66
  text-shadow 0 0 4px #B29252

img  
  -webkit-filter: sepia(80%) hue-rotate(170deg) contrast(175%) brightness(-15%); 
  border 1px solid #000000
  -webkit-box-shadow 0 0 2px 2px #6495ED;
  margin 5px

.login
  float right
  display inline
  padding 5px

  *    
    margin-left 5px

  button, input
    padding 2px 5px
    background black
    background-color black
    color #FFCC66
    border 1px solid #74A0EF
    font-family Electrolize
  button
    float right

.post
  header
    .title
      font-size 1.5em
    .details
      color #A7C3F4

.websiteName:before
  content ">"
  color #74A0EF

.websiteName
  font-size 6em
  color #A7C3F4
  text-transform uppercase

.websiteTagline:before
  content ". // "  
  color #A7C3F4

.websiteTagline
  font-size 1.5em
  margin-left 5px
  margin-top -5px

.websiteTagline:after
  content " .."
  color #A7C3F4

#posts
  margin 20px 20px 20px 20px

#siteHeader
  border-bottom 1px solid #74A0EF
