@import url("http://fonts.googleapis.com/css?family=Electrolize")

html, body
  font-family Electrolize
  background-color black
  color #74A0EF
  padding 0;
  margin 0;
  font-size 13px
  text-shadow 0 0 10px #6495ED

body>header
  border-bottom 1px solid #74A0EF

body>footer
  text-align right
  clear left
  border-top 1px solid #74A0EF
  position absolute
  bottom 0
  left 0
  right 0

a
  color #FFCC66
  text-shadow 0 0 4px #B29252

img  
  -webkit-filter: sepia(80%) hue-rotate(170deg) contrast(175%) brightness(-15%); 
  border 1px solid #000000
  -webkit-box-shadow 0 0 2px 2px #6495ED;
  margin 5px

.login
  float right
  display inline
  padding 5px

  *    
    margin-left 5px

  button, input
    padding 2px 5px
    background black
    background-color black
    color #FFCC66
    border 1px solid #74A0EF
    font-family Electrolize
  button
    float right

.morelink
  float right

.post
  width 25%
  display inline-block
  margin 5px
  padding 10px
  float left

  header
    .title
      font-size 1.5em
    .details
      color #A7C3F4

.thumbnail
  float left
  margin 20px 10px -2px 2px 

.websiteName:before
  content ">"
  color #74A0EF

.websiteName
  font-size 6em
  color #A7C3F4
  text-transform uppercase

.websiteTagline:before
  content ". // "  
  color #A7C3F4

.websiteTagline
  font-size 1.5em
  margin-left 5px
  margin-top -5px

.websiteTagline:after
  content " .."
  color #A7C3F4

#posts
  position absolute
  bottom 3em
  top 9em
  overflow:auto;

#tags
  text-align left
  color #A7C3F4
