@import url("http://fonts.googleapis.com/css?family=Electrolize");
html,
body {
  font-family: Electrolize;
  background-color: #000;
  color: #74a0ef;
  padding: 0;
  margin: 0;
  font-size: 13px;
  text-shadow: 0 0 10px #6495ed;
}
body>header {
  border-bottom: 1px solid #74a0ef;
}
body>footer {
  text-align: right;
  clear: left;
  border-top: 1px solid #74a0ef;
  position: absolute;
  bottom: 0.5em;
  left: 0;
  right: 0;
}
a {
  color: #fc6;
  text-shadow: 0 0 4px #b29252;
}
img {
  -webkit-filter: sepia(80%) hue-rotate(170deg) contrast(175%) brightness(-15%);
  border: 1px solid #000;
  -webkit-box-shadow: 0 0 2px 2px #6495ed;
  margin: 5px;
}
.login {
  float: right;
  display: inline;
  padding: 5px;
}
.login * {
  margin-left: 5px;
}
.login button,
.login input {
  padding: 2px 5px;
  background: #000;
  background-color: #000;
  color: #fc6;
  border: 1px solid #74a0ef;
  font-family: Electrolize;
}
.login button {
  float: right;
}
.login-message {
  color: #f00;
  text-shadow: 0 0 10px #e00;
  float: left;
  margin-left: 4px;
  margin-top: 0.5em;
}
.morelink {
  float: right;
}
.post {
  width: 25%;
  display: inline-block;
  margin: 5px;
  padding: 10px;
  float: left;
}
.post header .title {
  font-size: 1.5em;
}
.post header .details {
  color: #a7c3f4;
}
.thumbnail {
  float: left;
  margin: 20px 10px -2px 2px;
}
.websiteName:before {
  content: ">";
  color: #74a0ef;
}
.websiteName {
  font-size: 6em;
  color: #a7c3f4;
  text-transform: uppercase;
}
.websiteTagline:before {
  content: ". // ";
  color: #a7c3f4;
}
.websiteTagline {
  font-size: 1.5em;
  margin-left: 5px;
  margin-top: -5px;
}
.websiteTagline:after {
  content: " ..";
  color: #a7c3f4;
}
#posts {
  position: absolute;
  bottom: 3.5em;
  top: 9em;
  overflow: auto;
}
#tags {
  text-align: left;
  color: #a7c3f4;
}
